.raiting-0-star { width: 0 !important; }
.raiting-1-star { width: 20% !important; }
.raiting-2-star { width: 40% !important; }
.raiting-3-star { width: 60% !important; }
.raiting-4-star { width: 80% !important; }
.raiting-5-star { width: 100% !important; }

.cities__no-places .cities__status {
  font-weight: 600;
}

.reviews__help .reviews__text-amount {
  font-weight: 500;
}